/* 폰트 임포트 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

:root {
  /* ---------- Font ---------- */
  --font: "Pretendard", sans-serif;
  --font-en: "Prata", serif;

  /* Font weights */
  --light: 300;
  --medium: 500;
  --bold: 700;

  /* ---------- Color Palette ---------- */
  --primary: #e0630b;

  /* Text Colors */
  --sub-primary-txt: #111;
  --sub-secondary-txt: #505050;
  --sub-tertiary-txt: #767676;
}
