#header {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 24px 0;
  width: 100%;
}

#header.two {
  position: relative;
}

#header.two .left nav ul li {
  color: var(--sub-primary-txt);
}

#header h1.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

#header h1.logo img {
  width: 190px;
  height: auto;
}

#header .left {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#header .left nav {
  padding-left: 120px;
  display: flex;
}

#header .left nav ul {
  display: flex;
  align-items: center;
  gap: 28px;
}

#header .left nav ul li.mo-menu {
  display: none;
}

#header .left nav ul li {
  font-family: var(--font);
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--medium);
  color: #fff;
}

#header .left .menu {
  padding-right: 120px;
}

#header .left .menu button {
  cursor: pointer;
}

#header .left .menu button img {
  width: 32px;
}

/* ------------------ 테블릿 --------------------- */

@media (max-width: 1280px) {
  #header {
    padding: 16px 0;
  }

  #header h1.logo img {
    width: 86px;
  }

  #header .left nav {
    padding-left: 40px;
  }

  #header .left nav ul li {
    display: none;
  }

  #header .left nav ul li.mo-menu {
    display: block;
    cursor: pointer;
  }

  #header .left nav ul li.mo-menu img {
    width: 38px;
  }

  #header .left .menu {
    padding-right: 40px;
  }

  #header .left .menu button img {
    width: 28px;
  }
}

/* ------------------ 모바일 ------------------------ */

@media (max-width: 767px) {
  #header {
    padding: 14px 0;
  }

  #header h1.logo img {
    width: 72px;
  }

  #header .left nav {
    padding-left: 16px;
  }

  #header .left nav ul li.mo-menu img {
    width: 32px;
  }

  #header .left .menu {
    padding-right: 16px;
  }

  #header .left .menu button.mypage {
    display: none;
  }

  #header .left .menu button img {
    width: 26px;
  }
}

.footer-bg {
  width: 100%;
  border-top: 1px solid #e5e5ec;
}

footer {
  max-width: 1760px;
  padding: 60px 40px;
  margin: 0 auto;
}

footer .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: flex-start;
}

footer .top .left-menu {
  width: fit-content;
}

footer .top .left-menu h2.f-logo {
  margin-bottom: 30px;
}

footer .top .left-menu h2.f-logo img {
  width: 206px;
}

footer .top .left-menu .f-nav {
  display: flex;
  gap: 28px;
}

footer .top .left-menu .f-nav li {
  font-family: var(--font);
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--light);
  color: var(--sub-secondary-txt);
}

footer .top .left-menu .f-nav li.on {
  color: var(--sub-primary-txt);
}

footer .top .right-menu {
  display: flex;
  align-items: center;
  gap: 14px;
}

footer .top .right-menu img {
  width: 72px;
}

footer .top .right-menu select {
  width: 220px;
  padding: 14px 12px;
  background: #f6f6f6;
  outline: 0;
  border: 0;
}

footer .bottom {
  display: flex;
  justify-content: space-between;
}

footer .bottom .info li {
  font-family: var(--font);
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--light);
  color: var(--sub-secondary-txt);
}

footer .bottom .icon {
  display: flex;
  gap: 8px;
}

footer .bottom .icon a {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1280px) {
  footer {
    padding: 48px 40px;
  }

  footer .top {
    margin-bottom: 10px;
  }

  footer .top .left-menu h2.f-logo {
    margin-bottom: 22px;
  }

  footer .top .left-menu h2.f-logo img {
    width: 174px;
  }

  footer .top .left-menu .f-nav {
    gap: 6px 18px;
    flex-wrap: wrap;
  }

  footer .top .right-menu {
    gap: 10px;
  }

  footer .top .right-menu img {
    width: 56px;
  }

  footer .top .right-menu select {
    width: 180px;
    padding: 12px 10px;
  }
}

@media (max-width: 767px) {
  .footer-bg {
    position: relative;
    padding-bottom: 80px;
  }

  footer {
    padding: 28px 16px;
  }

  footer .top {
    flex-direction: column;
  }

  footer .top .left-menu h2.f-logo {
    margin-bottom: 14px;
  }

  footer .top .right-menu {
    position: absolute;
    bottom: 30px;
    width: 92%;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }

  footer .bottom {
    flex-direction: column;
    gap: 18px;
    margin-bottom: 30px;
  }

  footer .bottom .icon a {
    width: 34px;
    height: 34px;
  }

  .footer-bg footer .top .right-menu select {
    width: 100%;
  }
}
