h2 {
  font-family: var(--font);
  font-size: 42px;
  line-height: 50px;
  font-weight: var(--bold);
  color: var(--sub-primary-txt);
  word-break: keep-all;
}

h4 {
  font-family: var(--font);
  font-size: 24px;
  line-height: 34px;
  font-weight: var(--medium);
  color: var(--sub-primary-txt);
}

.sub-section .main-tit {
  max-width: 1760px;
  padding: 0 40px;
  margin: 0 auto;
  padding-bottom: 36px;
}

.main-tit {
  font-family: var(--font);
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main-tit span {
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--medium);
  margin-bottom: 12px;
  display: block;
  color: var(--sub-tertiary-txt);
}

@media (max-width: 1280px) {
  h2 {
    font-size: 32px;
    line-height: 46px;
  }

  h4 {
    font-size: 20px;
    line-height: 30px;
  }

  .main-tit {
    margin-bottom: 28px;
  }

  .main-tit span {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
  }

  h4 {
    font-size: 18px;
    line-height: 26px;
  }

  .main-tit {
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 0;
  }

  .main-tit span {
    margin-bottom: 6px;
  }
}
